@model WebsiteNhaHang.Models.KhongGianNhaHang

@{
    ViewBag.Title = "Xóa hình ảnh";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
}

<div>
    <h4>KhongGianNhaHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhongGian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhongGian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioiThieu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiThieu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiKhongGianNhaHang.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiKhongGianNhaHang.TenLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về trang quản lý", "Index")
        </div>
    }
</div>
