@model WebsiteNhaHang.Models.TuyenDung

@{
    ViewBag.Title = "Xóa thông tin tuyển dụng";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
}

<div class="mt-2">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenTuyenDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenTuyenDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTiet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTiet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về trang quản lý", "Index")
        </div>
    }
</div>
