@model WebsiteNhaHang.Models.KhuyenMai

@{
    ViewBag.Title = "Xóa khuyến mãi";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
}
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ChiTietKhuyenMai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChiTietKhuyenMai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayBatDau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayBatDau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayKetThuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKetThuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TiLeGiamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiLeGiamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về trang quản lý", "Index")
        </div>
    }
</div>
