@model WebsiteNhaHang.Models.BinhLuan

@{
    ViewBag.Title = "Xóa bình luận";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
}

<div class="ml-2">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaCuaBinhLuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCuaBinhLuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaTaiKhoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BinhLuan1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BinhLuan1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
