@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<WebsiteNhaHang.Models.BinhLuan>

@{
    ViewBag.Title = "Danh Sách Bình Luận";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
    int i = 0;
    if (Convert.ToInt32(Session["LoaiTK"]) == 3)
    {
        <style>
            #XoaBL {
                display: none;
            }
        </style>
    }
}

<div class="row-fluid margin-bottom ml-3">
    <table class="table">
        <tr>
            <th>#</th>
            <th style="width:30%">
                @Html.DisplayNameFor(model => model.First().TaiKhoan.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NgayDang)
            </th>
            <th style="width:40%">
                @Html.DisplayNameFor(model => model.First().BinhLuan1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaiKhoan.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayDang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BinhLuan1)
                </td>


                <td>
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaCuaBinhLuan })
                    <p id="XoaBL">@Html.ActionLink("Xóa", "Delete", new { id = item.MaCuaBinhLuan })</p>
                </td>
            </tr>
        }

    </table>
    <div class="row-fluid ml-2">
        <div class="span6">
            <div class="dataTables_info" id="sample-table-2_info">
                Trang :@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            </div>
        </div>
        <div class="span6">
            <div class="dataTables_paginate paging_bootstrap pagination">
                <ul>
                    @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
                </ul>
            </div>
        </div>
    </div>
</div>