@using WebsiteNhaHang.Models
@model List<GoiCombo>

@foreach (var item in Model)
{
    int i = 0;
    <div class="media col-md-4">
        <div class="card" style="width: 20rem; box-shadow: 5px 3px 5px #708090">
            <img class="card-img-top" src="@Url.Content("~/Content/img/MonAn/" + item.HinhAnh)" style="min-height: 225px" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">@item.TenComBo </h4>
                <p class="card-text">Giá món ăn: <b style="color: #FF4000">@string.Format("{0:0,0}", @item.Gia)</b> VND
                </p>
                <div>
                    <div class="col-sm-6 float-left">
                        @using (Html.BeginForm("ThemGioHang", "DatBan", new { @iMaSP = @item.MaCombo, @iLoaiDat = 2, @strURL = Request.Url.ToString() }))
                        {
                            <input type="submit" value="Đặt Combo" id="btnGioHang" class="btn btn-info" />
                                    @*<a href="#" class="btn btn-info">Đặt món</a>*@
                        }
                    </div>
                    <div class="col-sm-5 float-left">
                        <button style="font-family: 'Roboto Condensed', sans-serif" class="btn btn-info" data-toggle="modal" data-target=".bd-example-modal-lg-@item.MaCombo">Xem Chi Tiết</button>
                    </div>
                </div>

                <div class="modal fade bd-example-modal-lg-@item.MaCombo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">@item.TenComBo</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body pre-scrollable text-center" style="min-height: 450px">
                                <img src="@Url.Content("~/Content/img/MonAn/" + item.HinhAnh)" class="img-fluid" alt="Responsive image" style="width: 800px">
                                <hr/>
                                <h3 class="modal-title">Danh sách các món trong Combo</h3>
                                <table class="table">

                                    @foreach (var monAn in item.MonAn)
                                    {
                                        i++;
                                        <tr>

                                            <th >@i</th>
                                            <td><img class="rounded float-left" src="@Url.Content("~/Content/img/MonAn/" + monAn.HinhAnh)"style="max-width: 120px"></td>
                                            <th>@monAn.TenMon</th>
                                        </tr>
                                    }
                                </table>
                                <hr />                               
                                <p class="text-left">Số lần được đặt: @item.SoLanDat</p>                                
                            </div>
                            <div class="card-footer text-muted" style="max-height: 60px">
                                <div class="float-left ml-3">
                                    <h6>
                                        Giá Combo:<strong style="color: #FF4000">@string.Format("{0:0,0}", @item.Gia) </strong> VND
                                    </h6>
                                </div>
                                <div class="float-right col col-sm-4">
                                    <div class="col-sm-6 float-left">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Xem sau</button>
                                    </div>@*<button type="button" class="btn btn-primary">Đặt món</button>*@
                                    <div class="col-sm-4 float-left">
                                        @using (Html.BeginForm("ThemGioHang", "DatBan", new { @iMaSP = @item.MaCombo, @iLoaiDat = 1, @strURL = Request.Url.ToString() }))
                                        {
                                            <input type="submit" value="Đặt Combo" id="btnGioHang" class="btn btn-info" />
                                                    @*<a href="#" class="btn btn-info">Đặt món</a>*@
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    
}

