@model WebsiteNhaHang.Models.TaiKhoan

@{
    ViewBag.Title = "Xóa tài khoản";
    Layout = "~/Views/layout/Admin/_QuanLy.cshtml";
}

<div class="ml-4">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>       
        <dt>
            @Html.DisplayNameFor(model => model.TenNguoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNguoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiTaiKhoan1.TenLoaiTaiKhoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiTaiKhoan1.TenLoaiTaiKhoan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Về trang quản lý", "DanhSachTaiKhoan")
        </div>
    }
</div>
